.bio-form{
    background-color: #47bfaf!important;
    width: max-content;
    color: #031e45;
    font-family: 'Montserrat', sans-serif!important;
    width: 450px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5)!important; 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5)!important;
}
.formTypo{
    font-family: 'Montserrat', sans-serif!important;
    font-size: 24px!important;
    color: #031e45;
    font-weight: 700!important;
}
.formHeader{
    font-family: 'Baloo 2', cursive!important;
    font-size: 32px!important;
    font-weight: 750!important;
    color: #031e45;
}
.btn{
    color:white;
}
.textArea{
    font-family: 'Montserrat', sans-serif!important;
    font-size: 18px!important;
    color: #031e45;
}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
    color: #031e45!important;
    font-weight: 700!important;
}